body {
  font-family: "Raleway", "Times New Roman", Times, serif;
  max-width: 80%;
  margin: auto;
}

header > h1 {
  margin-bottom: 10px;
}

header > h1 > a {
  text-decoration: none;
  color: rgba(208, 5, 5, 0.872);
  font-size: 40px;
  border-width: 10px;
  margin-bottom: 5px;
  padding: 0px;
  font-weight: 700;
}

header > h2 {
  font-size: 20px;
  border: 2px;
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 15px;
}

header > div > a {
  display: inline-block;
  padding-right: 13px;
  color: rgba(128, 128, 128, 0.3);
  font-weight: 700;
}

header > div > div > a {
  display: inline-block;
  padding-right: 13px;
  color: rgba(128, 128, 128, 0.3);
  font-weight: 700;
}

article > h3 {
  font-size: 32px;
  color: rgba(128, 128, 128, 0.4);
  font-weight: 300;
  margin-bottom: 10px;
}

article > h2 > a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  border-width: 10px;
  margin-top: 10px;
  padding: 0px;
  font-weight: 500;
}

article > img {
  height: 200px;
  width: 100%;
}

article {
    width: 80%;

}

article > p::first-letter {
    color: rgba(128, 128, 128, 0.3);
    float: left;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
    font-weight: 100;
}

article > h4 {
    text-align: right;
}

article > h4 > a {
    /* text-align: right; */
    text-decoration: none;
    color: rgba(208, 5, 5, 0.872);
    font-weight: 900;
}

footer > ul {
    margin-left: 0;
    padding: 0px;
}

footer > ul > li {
    display: inline-block;
    color: rgba(208, 5, 5, 0.872);
    border-right: 2px solid rgb(157, 154, 154);
    text-decoration: none;
    text-align: left;
    padding: 5px;
    font-size: 16px;
    line-height: 14px;
}

footer > p {
    color: rgba(128, 128, 128, 0.5);
    font-weight: 800;
}

@media (min-width: 600) {

}

/* The navigation menu */
.navbar {
  overflow: hidden;
  background-color: #333;
}

/* Navigation links */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: red;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: red;
  width: 80%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}